<html>

<head>

<p>Malinki it is an internet site, on whitch you can choose something you accurately need at your home or for your mobility. If you want to choose something you must click on a link to see the picture of a subject. This time it is the Antique Japan cloisonné Vase with blooming flower made by Andō Jubei (Jusaburo) (1876-1953) cloisonné company from Inuba period.The company was given an Imperial Warrant of Appointment to the Japanese court. It is one of the very few traditional cloisonné companies still left in Japan. Objects from Ando are held in the collection of the Walters Art Museum and in the Victoria and Albert Museum. Regarding dates, the following Japanese historical period name is Meiji (1868-1913).</p>
<p style="position:absolute; top:280; right:60">Click on links below</p>
<p style="position:absolute; top:300; right:60"><a href="k1.jpg">Inuba Vase</a></p>
<p style="position:absolute; top:320; right:60"><a href="k2.jpg">Vase bottom</a></p>
<p style="position:absolute; top:340; right:60">In perfect condition</p>
</head>
<img src="m1.jpg">
<body bgcolor="00ff00">
<p text-align: justify>Redditch UK , mobile: malinki 07922629000 , "check in" in Poland , price 1000.00 pounds</p>

</body>
</html>
